 <link rel="stylesheet" type="text/css" href="css/my_style.css">
<div class="col-md-12" style="margin-top:20px;">
    <div class="col-md-3 combo">
        <label style="font-weight:bolder">Danh sách camera:</label>
    </div>
</div>

<div class="form-group ">
    <div class="col-sm-2 " style="margin-bottom:10px;">
        <select class="Picker-Border-Stroke" data-bind="options: devices,
                       optionsText: 'CameraLink',
                       optionsValue : 'DeviceId',
                       value: device_id,
                       optionsCaption: 'Choose...'">
        </select>
    </div>
</div>

<div style="/* margin-bottom:10px; *//* width:50%; *//* height:400px; */">
<div style="width: 15%;height: 600px; float:left;"></div>
    <div style="width: 60%;height: 600px;bolder 1px black;float:left;" class="image">
        <img id="video_stream" class="center"
             data-bind="attr: { 'src': src_video }">
    </div>
</div>
