<html>
<head>
    <title>Check in</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='scripts/knockout-3.5.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-3.5.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/app.js')}}"></script>
</head>
<body>
<div style="width: 100%;height: 70px;background-color: #214971;">
    <div style="float:left;height: 70px;">
        <img src="{{url_for('static', filename='img/LOGO.png')}}" alt="Italian Trulli" style="width:80px;height:50px;margin: 10px 10px 0px 0px;">
    </div>
    <div class="logo">Check in</div>
</div>
{% include "content_in.html" %}
<script src="{{url_for('static', filename='scripts/index_in.js')}}"></script>
</body>
</html>
