.image {
background-color: powderblue;
float:left;
}
.list{
float:left;
margin-left:10px;
}
.right1{
margin-bottom:10px;
}
.logo{
  font-family: HelveticaNeue;
  font-size: 47px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.89);
}
.combo{
	width: 151px;
  height: 24px;
  font-family: SegoeUI;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.Picker-Border-Stroke {
  width: 498px;
  height: 28px;
  border: solid 0.5px #000000;
}